html { font-size: 62.5%; }

body {
  font-family: $font-body;
  font-size: 2rem;
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}

h1 {
  color: $color-dark;
  font-size: calc(2rem + 2.2vw);

}

@media (max-width: 480px) {
  body { font-size: 1.6rem; }
}