body {
  background-color: $colorLight;
  color: $colorDark;

// -------------------------- CONTAINER FOR HEADER, MAIN, AND FOOTER
  .container {
    min-height: 100vh; // min-height so that the footer gets pushed to the bottom of the page
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}