footer {
  padding: 2rem 0;
  background-color: $colorDark;
  color: $colorPrimary;
  text-align: center; 

  p:not(:last-of-type) { margin-bottom: 1rem; }

  // -------------------------- FOOTER LINKS
  a {
    color: $colorPrimary;
    text-decoration: underline;
    transition: color 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: $colorAccent;
    }
  }
  
}

// -------------------------- MOBILE MEDIA QUEURY
@media (max-width: 480px) {
  footer { font-size: 1.4rem; }
}