footer {
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem 0;

  p:not(:last-of-type) { margin-bottom: 1rem; }

  a {
    color: $color-primary;
    text-decoration: underline;
    padding: 1rem;
    transition: color 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: $color-accent;
    }
  }
  
}