footer {
  // font-size: 1.4rem;
  text-align: center;
  padding: 2rem 0;
  background-color: $colorDark;
  color: $colorPrimary;
    text-align: center; 

  p:not(:last-of-type) { margin-bottom: 1rem; }

  a {
    color: $colorPrimary;
    text-decoration: underline;
    // padding: 1rem;
    transition: color 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: $colorAccent;
    }
  }
  
}

@media (max-width: 480px) {
  footer { font-size: 1.4rem; }
}