header {
  background-color: $colorDark;
  padding: 2rem 0;
  
  h1 { 
    color: $colorPrimary;
    text-align: center; 
  }
}

// -------------------------- MOBILE MEDIA QUERY
@media (max-width: 480px) {
 header { padding-bottom: 1rem;}
}