header {
  // background-color: $colorDark;
  padding: 30px 0 50px;
  
  h1 { 
    color: $colorPrimary;
    text-align: center; 
  }
}

// -------------------------- MOBILE MEDIA QUERY
@media (max-width: 480px) {
 header { padding: 20px 0;}
}