main {
  flex: 1; // take up remaining free space and push footer to bottom of page
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-top: 3px solid $colorPrimary;
  // border-bottom: 3px solid $colorPrimary;
}