main {
  flex: 1; // take up remaining free space and push footer to bottom of page

}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .imgContainer {
    // set to 260px as the player images are 260px wide
    max-width: 260px;
    margin: 0 auto;
  }

  &__rules {
    margin: 2rem 0;

    &Headline {
      margin-bottom: 1rem;
      text-align: center;
    }

    &ListItem {
      em { 
        color: $color-primary;
        font-style: normal;
        font-weight: 700;
      }

      &:not(:last-of-type) { margin-bottom: 1rem; }
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  &__questionTracker {
    padding: 1rem;

    margin: 2rem auto;
    // border-bottom: 2px solid $color-dark;
    // border-radius: 5px;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
  }

  &__formControl {
    width: 100%;
  }

  &__input:checked + &__inputLabel {
    border: 4px solid $color-primary;
  }

  &__inputLabel {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    border: 4px solid $color-dark;
    border-radius: 25px;
    transition: border-color .3s;

    &:hover,
    &:active {
      cursor: pointer;
      border-color: $color-accent;
    }

    &::before {
      content: url(../assets/rapsIconRed.ico);
      margin-right: 10px;
    }
  }

  &__button--submit {
    display: block;
    margin: 0 auto;
    
    &:disabled,
    &:disabled:hover
    { 
      border-color: $color-secondary; 
      background-color: inherit;
      color: $color-secondary;
      cursor: not-allowed;
    }

    &:not(:disabled) {
      border-color: $color-accent;
    }
    
  }

  &__resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;

    & > *:not(:last-child) { margin-bottom: 2rem;}
    
  }

}

@media (max-width: 480px) {
  .game {

    &__teamLogo { margin-top: 2rem;}

    .imgContainer { max-width: 200px; }

    &__questionTracker { margin: 1rem auto; }

    .gridContainer { 
      grid-template-columns: 1fr;
      gap: 1.5rem;
      margin-bottom: 1.5rem;
    }
    
  }
}