.button {
  font-family: inherit;
  background-color: inherit;
  padding: 1rem 2.5rem;
  border: 3px solid $color-primary;
  border-radius: 25px;

  text-transform: uppercase;

  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-dark;
    color: #fff;
    cursor: pointer;
  }

  &--submit {
    display: block;
    margin: 0 auto;
    
    &:disabled,
    &:disabled:hover
    { 
      border-color: $color-secondary; 
      background-color: inherit;
      color: $color-secondary;
      cursor: not-allowed;
    }

    &:not(:disabled) {
      border-color: $color-accent;
    }
    
  }
}