.button {
  font-family: inherit;
  text-transform: uppercase;
  background-color: inherit;
  padding: 1rem 2.5rem;
  border: 3px solid $colorPrimary;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:active,
  &:focus {
    background-color: $colorDark;
    color: $colorLight;
    cursor: pointer;
  }

  &--submit {
    display: block;
    margin: 0 auto;

    &:hover,
    &:active,
    &:focus {
      color: $colorAccent;
    }
    
    &:disabled,
    &:disabled:hover
    { 
      border-color: $colorSecondary; 
      background-color: inherit;
      color: $colorSecondary;
      cursor: not-allowed;
    }

    &:not(:disabled) {
      border-color: $colorAccent;
    }
    
  }
}