// FONTS
$fontHeading: 'Roboto Condensed', Sans-Serif;
$fontBody: 'Cabin', Sans-Serif;

// COLORS - 
$colorLight: rgb(238, 238, 238);
//gathered from https://teamcolorcodes.com/toronto-raptors-color-codes/
$colorPrimary: rgb(206, 17, 65);
$colorSecondary: rgb(161, 161, 164);
$colorDark: rgb(6,25,34);
$colorAccent: rgb(180,151,90)