// COLORS

// colors gathered from https://teamcolorcodes.com/toronto-raptors-color-codes/
$color-primary: rgb(206, 17, 65);
$color-secondary: rgb(161, 161, 164);

$color-dark: rgb(6,25,34);

$color-accent: rgb(180,151,90)